<div class="text-center">
	<button (click)="changeTitle()">Toggle Title</button> <!-- Evento en click de angular ( evento ) -->
	<br>
	<h2>{{title}}</h2> <!-- Interpolar la propiedad en HTML con las llaves -->
</div>

<ul>
	<!-- TWO WAY DATA BINDING -->
	<div>
		<input type="text" [(ngModel)]="customText" (keyup.enter)="alertWrittenWord()" />
		<button (click)="addGenre()">Add Genre</button>
	</div>
	<p>
		{{customText}}
	</p>


	<!-- Directivas -->
	<!-- ngFor -->
	<li *ngFor="let aGame of gameList; let i = index" class="game-li">
        <!-- Otra alternativa a ngClass -->
		<span [class.tomato]="aGame.name == 'Tomato'">
			{{i + 1}} - {{aGame.name}}
        </span>
        
		<!-- ngClass -->
		<span [ngClass]="{
            'cheap': aGame.price <= 10,
            'pricey': aGame.price > 10 && aGame.price <= 20,
            'expensive': aGame.price > 20
        }">
            <strong>$ {{aGame.price}}</strong>
        </span>
        
		<!-- ngIf -->
		<small *ngIf="aGame.stock == false" class="badge-alert-warning">
			<strong>OUT OF STOCK!</strong>
		</small>

		<small *ngIf="aGame.stock == true && aGame.price < 10" class="badge-alert-info">
			<strong>GREAT PRICE !</strong>
		</small>

		<!-- ngSwitch -->
		<div [ngSwitch]="aGame.rating">
			<small *ngSwitchCase="'A'">
				Adult
			</small>
			<small *ngSwitchCase="'M'">
				Mature
			</small>
			<small *ngSwitchCase="'T'">
				Teen
			</small>
			<small *ngSwitchCase="'E'">
				Everyone
            </small>
            <small *ngSwitchDefault>
				Unknown
			</small>
		</div>

		<button (click)="deleteGame(i)">Remove</button>

		<br>
	</li>
</ul>

<br>

<div class="text-center">
	<h2>Game Genres</h2>
</div>
<ul>
	<li *ngFor="let gameCat of gameCategories">
		<strong>{{gameCat}}</strong>
	</li>
</ul>