.badge-alert-warning {
	background: red;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
    color: white;
    margin-left: 8px;
}

.badge-alert-info {
	background: #0055aa;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
    color: white;
    margin-left: 8px;
}

.text-center {
    justify-content: center;
    text-align: center;
}

.tomato {
    color: red;
}

.game-li {
    margin-top: 16px;
}

.cheap {
    background-color: green;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.pricey {
    background-color: yellow;
    color: white;
	padding-left: 5px;
	padding-right: 5px;
}

.expensive {
    background-color: red;
    color: white;
	padding-left: 5px;
	padding-right: 5px;
}